//! consalting-button
.consalting-button {
   color: #fff;
   font-family: "Cabin";
   font-weight: 600;
   text-transform: capitalize;
   display: flex;
   align-items: center;
   padding: toEm(21, 18) toEm(35, 18) toEm(22, 18) toEm(35, 18);
   background-color: #6b77e5;
   transition: background-color 0.2s;
   &--hero {
      background-color: #4fd8b6;
      color: #37393f;
      @include hover {
         background-color: #2e957b !important;
      }
   }
   &--header{
      @media (max-width: toRem(530)) {
         display: none;
      }
   }
   &--footer{
      @include adaptiveValue(padding-top, 21, 8, 0, 768, 320);
      @include adaptiveValue(padding-bottom, 22, 8, 0, 768, 320);
      @include adaptiveValue(padding-left, 35, 6, 0, 768, 320);
      @include adaptiveValue(padding-right, 25, 6, 0, 768, 320);
   }
   @include hover {
      background-color: #444b8c;
   }
}
//! consalting-play-button
.consalting-play-button {
   font-weight: 600;
   text-transform: capitalize;
   display: flex;
   align-items: center;
   gap: toEm(10, 18);
   text-decoration: underline;
   transition: all 0.2s;
   @include hover {
      color: #2e957b;
      div {
         background-color: #2e957b;
      }
   }
   &__icon {
      width: toEm(60);
      height: toEm(60);
      aspect-ratio: 1 / 1;
      background-color: #6b77e5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      transition: background-color 0.2s;
      & img {
         width: toEm(15, 18);
         aspect-ratio: 13 / 20;
         transform: translateX(toEm(2, 18));
      }
   }
}
//! social block
.social {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: toEm(16, 18);
   transition: transform 0.2s;
   // flex-wrap: wrap;
   &__label {
      line-height: 1.4;
   }
   & span {
      flex-shrink: 0;
   }
   @include hover {
      transform: scale(1.2);
   }
   & a {
      transition: transform 0.1s;
      @include hover {
         transform: scale(1.3);
      }
   }
}

//! logo
.main-logo {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   color: #37393f;
   gap: toEm(3.8, 25);
   font-family: "Poppins";
   font-size: toRem(25);
   font-weight: 700;
   & span {
      color: #6b77e5;
   }
   & img {
      width: toEm(42.17, 25);
      height: toEm(29, 25);
      object-fit: contain;
   }
   &--footer {
      color: #fff;
      & span {
         color: #40ddb6;
      }
      @media (max-width: toRem(768)){
         @include adaptiveValue (font-size, 35, 25, 0, 768, 320);
      }
   }
}
//! icons
@mixin icon-square-violet {
   position: relative;
   display: flex;
   align-items: center;
   gap: toEm(4, 20);
   @include before {
      width: toEm(13, 20);
      height: toEm(13, 20);
      background-color: #6b77e5;
      position: relative;
      top: 0;
      left: 0;
   }
}
@mixin icon-square-green {
   position: relative;
   display: flex;
   align-items: center;
   gap: toEm(6, 18);
   @include before {
      width: toEm(12, 20);
      height: toEm(12, 20);
      background-color: #40ddb6;
      position: relative;
      top: 0;
      left: 0;
   }
}
@mixin icon-square-violet-small {
   position: relative;
   display: flex;
   align-items: center;
   gap: toEm(6, 18);
   @include before {
      width: toEm(12, 20);
      height: toEm(12, 20);
      background-color: #6b77e5;
      position: relative;
      top: 0;
      left: 0;
   }
}
