// ! footer
.footer {
   display: flex;
   flex-direction: column;
   gap: toRem(50);
   background-color: #37393f;

   // .footer__container
   &__container {
      width: 100%;
   }
}
.top-footer {
   display: flex;
   align-items: center;
   padding: toEm(95, 18) 0 toEm(54, 18);
   border-bottom: toRem(1) solid #6c6d72;

   //! .top-footer__content

   &__content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: toRem(10);
      @media (max-width: toRem(768)) {
         flex-direction: column;
         align-items: center;
         @include adaptiveValue(row-gap, 40, 20, 0, 768, 320);
      }
   }

   //! .top-footer__contacts

   &__contacts {
      display: flex;
      flex-wrap: wrap;
      row-gap: toRem(10);
      @include adaptiveValue(column-gap, 60, 10, 0, 1024, 768);
      @media (max-width: toRem(768)) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: toRem(30);
      }
      @media (max-width: toRem(425)) {
         display: flex;
         flex-direction: column;
         width: 100%;
         row-gap: toRem(15);
      }
   }

   // .top-footer__item

   &__item {
      display: flex;
      gap: toEm(10, 18);
      @include hover {
         & img {
            transform: scale(1.3);
         }
      }
   }

   // .top-footer__icon-item

   &__icon-item {
      background-color: #4c4d52;
      border-radius: 50%;
      flex-shrink: 0;
      // width: toEm(68, 18);
      // height: toEm(68, 18);
      @include adaptiveValue(width, 68, 35, 0, 768, 425);
      @include adaptiveValue(height, 68, 35, 0, 768, 425);
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
         // width: toEm(26, 18);
         @include adaptiveValue(width, 26, 16, 0, 768, 425);
         aspect-ratio: 26 / 30;
         object-fit: contain;
         transition: all 0.2s;
         @media (max-width: toRem(425)) {
            width: toEm(24, 18);
         }
      }
      @media (max-width: toRem(425)) {
         width: toEm(50, 18);
         height: toEm(50, 18);
      }
   }
   // .top-footer__contact-info

   &__contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toEm(3, 18);
   }

   // .top-footer__communication

   &__communication {
      font-family: "Poppins";
      @include adaptiveValue(font-size, 20, 16, 0, 768, 425);
      font-weight: 600;
      font-style: normal;
      @media (max-width: toRem(425)){
         font-size: toRem(18);
      }
   }

   // .top-footer__contact

   &__contact {
      font-style: normal;
      @include adaptiveValue(font-size, 18, 14, 0, 768, 425);
      @media (max-width: toRem(425)){
         font-size: toRem(16);
      }
   }
}

.footer-middle-section {
}
.middle-footer {
   
   //! .middle-footer__content

   &__content {
      // display: grid;
      // grid-template-columns: repeat(4, auto);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: toRem(20);
      width: 100%;
      @media (max-width: toRem(1024)) {
         justify-content: space-evenly;
      }
      @media (max-width: toRem(375)){
         display: block;
      }
   }

   // .middle-footer__column

   &__column {
      display: flex;
      flex-direction: column;
      @media (max-width: toRem(768)) {
         display: none;
      }
   }

   // .middle-footer__title

   &__title {
      color: #40ddb6;
      font-family: "Poppins";
      font-size: toRem(20);
      font-weight: 600;
      @include not-last-child {
         margin-bottom: toEm(13, 20);
      }
      @include icon-square-violet;
   }

   // .middle-footer__links

   &__links {
      display: flex;
      flex-direction: column;
   }

   // .middle-footer__item

   &__item {
      line-height: 2.2;
      & span {
         @include smooth-underline-white;
      }
      &--green {
         color: #40ddb6;
      }
   }

   // .middle-footer__form

   &__form {
   }
}
.form-footer {

   //! .form-footer__body

   &__body {
      background-color: #474950;
      // padding: toEm(42, 18) toEm(36, 18);
      @include adaptiveValue(padding-top, 42, 10, 0, 768, 320);
      @include adaptiveValue(padding-bottom, 42, 10, 0, 768, 320);
      @include adaptiveValue(padding-left, 36, 5, 0, 768, 320);
      @include adaptiveValue(padding-right, 36, 5, 0, 768, 320);
      
   }

   // .form-footer__title

   &__title {
      font-family: "Poppins";
      // font-size: 20px;
      @include adaptiveValue(font-size, 20, 18, 0, 425, 320);
      font-weight: 600;
      margin-bottom: toEm(6);
   }

   // .form-footer__sub-title

   &__sub-title {
      line-height: 2.2;
      margin-bottom: toEm(10);
      @include adaptiveValue(font-size, 18, 12, 0, 425, 320);
   }

   // .form-footer__input-wrapper
   &__input-wrapper {
      display: flex;
      @media (max-width: toRem(375)) {
         flex-direction: column;
         row-gap: toRem(10);
      }
   }

   // .form-footer__input-email
   &__input-email {
      color: #37393f;
      // padding: toEm(22, 18) toEm(27, 18);
      @include adaptiveValue(padding-top, 22, 10, 0, 768, 320);
      @include adaptiveValue(padding-bottom, 22, 10, 0, 768, 320);
      @include adaptiveValue(padding-left, 18, 8, 0, 768, 320);
      @include adaptiveValue(padding-right, 18, 8, 0, 768, 320);
      border-radius: 0;
      :focus {
         outline: 2px solid #6b77e5;
      }
      &::placeholder {
         color: #37393f;
      }
   }
}
.footer-bottom-section {
}
.bottom-footer {
   border-top: toRem(1) solid #6c6d72;
   padding-top: toEm(22, 18);
   padding-bottom: toEm(95, 18);

   //! .bottom-footer__body
   &__body {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: toRem(10);
      @media (max-width: toRem(1024)) {
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
   }

   // .bottom-footer__info

   &__info {
      line-height: 1.4;
      & span:nth-child(1) {
         color: #40ddb6;
      }
      & span:nth-child(2) {
         color: #6b77e5;
      }
   }

   // .bottom-footer__follow

   &__follow {
   }

   // .bottom-footer__label

   &__label {
   }
}
