@mixin hover {
   @media (any-hover: hover) {
      &:hover {
         @content;
      }
   }
}

@mixin smooth-underline-left {
   position: relative;
   &::after {
      content: "";
      transition: all 0.2s;
      width: 0%;
      height: toRem(2);
      background-color: #37393f;
      position: absolute;
      left: 0;
      bottom: toRem(-3);
   }
   @media (any-hover: hover) {
      &:hover {
         &::after {
            width: 100%;
         }
      }
   }
}

@mixin smooth-underline-white {
   position: relative;
   &::after {
      content: "";
      transition: all 0.2s;
      width: 0%;
      height: toRem(2);
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: toRem(-3);
   }
   @media (any-hover: hover) {
      &:hover {
         &::after {
            width: 100%;
         }
      }
   }
}

@mixin not-last-child {
   &:not(:last-child) {
      @content;
   }
}

@mixin after {
   &::after {
      content: "";
      @content;
   }
}
@mixin before {
   &::before {
      content: "";
      @content;
   }
}
