@import url("fonts.css");
@import url("reset.css");
/* ========================================== */
.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
/* =========================================== */
body {
   background: linear-gradient(
      90deg,
      rgba(250, 174, 126, 1) 0%,
      rgba(198, 198, 198, 1) 3%,
      rgba(255, 255, 255, 0) 6%,
      rgba(255, 255, 255, 0) 94%,
      rgba(198, 198, 198, 1) 97%,
      rgba(250, 174, 126, 1) 100%
   );
}
.header {
   font-family: "The Resto";
   background: rgb(150, 172, 225);
   background: radial-gradient(circle, rgba(150, 172, 225, 1) 0%, rgba(72, 106, 97, 1) 90%);
   font-weight: 400;
   text-align: center;
   font-size: 100px;
   padding: 3% 0;
   color: rgb(0, 0, 0);
   text-shadow: 2px 2px 3px red;
   margin-bottom: 10%;
   border-radius: 0 0 50% 50%;
}
.header:hover {
   background: rgb(110, 147, 233);
   background: radial-gradient(circle, rgb(85, 123, 213) 0%, rgba(72, 106, 97, 1) 90%);
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
   gap: 70px;
   height: 40px;
   font-size: 20px;
   padding-top: 5px;
   text-align: center;
   background: rgb(150, 172, 225);
   background: radial-gradient(circle, rgba(150, 172, 225, 1) 0%, rgba(72, 106, 97, 1) 90%);
}
.footer__link {
   border: 2px solid transparent;
   transition: all 0.2s;
}
.footer__link:hover {
   transform: scale(1.5);
   border-radius: 5px;
   border: 2px solid rgb(255, 0, 0);
}
/* =========================================== */

.practice {
   width: 60%;
}
.practice--margin {
   margin: 0 auto;
}
.practice__container {
   text-align: center;
}
.button-practice,
.button-layout {
   display: inline-block;
   width: 360px;
   height: auto;
   text-align: center;
   padding: 10px;
   font-size: 50px;
   background-color: rgb(112, 146, 146);
   border-radius: 40px 0 40px 0;
   color: azure;
   text-shadow: 2px 2px 5px black;
   margin-bottom: 50px;
   box-shadow: 0 0 10px black;
   vertical-align: top;
   transition: all 0.2s;
}
.button-practice {
   margin-right: 50px;
}
.button-practice:hover {
   background-color: rgb(83, 109, 109);
   transform: scale(1.1);
}
.button-layout:hover {
   background-color: rgb(83, 109, 109);
   transform: scale(1.1);
}
.keys {
   margin-bottom: 40px;
   background-color: rgb(131, 131, 235);
   border-radius: 10px;
   display: flex;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: center;
   flex-wrap: wrap;
   gap: 15px;
}
.keys__button {
   font-size: 20px;
   padding: 10px;
   background-color: rgb(8, 220, 8);
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: 0 0 5px black;
   transition: all 0.2s;
}
.keys__button:hover {
   transform: scale(1.2);
   outline: 3px solid black;
}
.keys__button:active {
   transform: scale(1.1);
   box-shadow: 0 0 20px rgb(248, 248, 248);
}
@keyframes flex-elements {
   0% {
      transform: rotate(-3deg);
   }
   50% {
      transform: rotate(3deg);
   }
   100% {
      transform: rotate(-3deg);
   }
}
/* !========flex-start======== */
.flex-container {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   display: none;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-start;
   gap: 3px;
}
.flex-container:target {
   display: flex;
}
.flex-container__item {
   font-size: 40px;
   padding: 10px;
   background-color: rgb(8, 220, 8);
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: 0 0 5px black;
   animation: flex-elements 0.2s linear infinite;
}
/* !========flex-end======== */
.flex-container--end {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-end;
   display: none;
   gap: 3px;
}
.flex-container--end:target {
   display: flex;
}
/* !========center======== */
.flex-container--center {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: center;
   display: none;
   gap: 3px;
}
.flex-container--center:target {
   display: flex;
}
/* !========space-between======== */
.flex-container--space-between {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: space-between;
   display: none;
   gap: 3px;
}
.flex-container--space-between:target {
   display: flex;
}
/* !========space-around======== */
.flex-container--space-around {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: space-around;
   display: none;
   gap: 3px;
}
.flex-container--space-around:target {
   display: flex;
}
/* !========space-evenly======== */
.flex-container--space-evenly {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: space-evenly;
   display: none;
   gap: 3px;
}
.flex-container--space-evenly:target {
   display: flex;
}
/* !========inline-flex======== */
.flex-container--inline {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-end;
   display: none;
   gap: 3px;
}
.flex-container--inline:target {
   display: inline-flex;
}
/* !========nowrap======== */
.flex-container--nowrap {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-start;
   display: none;
   flex-wrap: nowrap;
   gap: 3px;
}
.flex-container--nowrap:target {
   display: flex;
}
/* !========wrap======== */
.flex-container--wrap {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-start;
   display: none;
   flex-wrap: wrap;
   gap: 3px;
}
.flex-container--wrap:target {
   display: flex;
}
/* !========gap10======== */
.flex-container--gap10 {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-start;
   display: none;
   flex-wrap: wrap;
   gap: 10px;
}
.flex-container--gap10:target {
   display: flex;
}
/* !========gap20======== */
.flex-container--gap20 {
   background-color: rgb(89, 89, 243);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 10px black;
   justify-content: flex-start;
   display: none;
   flex-wrap: wrap;
   gap: 20px;
}
.flex-container--gap20:target {
   display: flex;
}
/* !=============================================== */
/* =================header-new===================== */
.header-new {
   display: inline-block;
   width: 1440px;
   height: auto;
   padding: 34px 100px 31px 100px;
   margin: 0 auto;
}
.header-new--margin {
   margin-bottom: 40px;
}
.header-new__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.buttons-header {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: 29px;
}
.buttons-header__item {
   color: #fff;
   text-align: center;
   font-family: "Causten";
   font-size: 18px;
   font-weight: 500;
   border-radius: 8px;
   background: #8a33fd;
   padding: 12px 48px;
   border: 1px solid transparent;
   transition: all 0.2s;
}
.buttons-header__item:hover {
   border: 1px solid #3c4242;
   color: #8a33fd;
   background-color: #8b33fd00;
}
.header-new__main-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
   padding: 0 60px 0 164px;
}
.search-header {
   padding: 10px 48px;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   background: #f6f6f6;
   border: 1px solid #3c424200;
   transition: all 0.2s;
}
.search-header:hover {
   border: 1px solid #3c4242;
   background-color: #e4e4e4;
}
.search-text {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #807d7e;
   text-align: center;
   font-family: "Causten";
   font-size: 18px;
   font-weight: 500;
}
.search-text::before {
   content: "";
   background-image: url("../img/header/search.svg");
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   margin-right: 12px;
   background-size: 20px 20px;
   transition: all 0.2s;
}
.search-text:hover::before {
   transform: scale(1.5);
}
.language-header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 5px;
   border-radius: 5px;
   border: 1px solid rgba(255, 0, 0, 0);
   transition: all 0.2s;
   font-family: "Causten";
   font-size: 18px;
   font-weight: 400;
   color: #333;
}
.language-header:hover {
   background-color: #e4e4e4;
}
.language-header:hover .language-header__add-language,
.language-header__add-language:hover {
   visibility: visible;
}
.language-header__add-language {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 47%;
   left: 55%;
   top: 100%;
   padding: 8px 3px;
   visibility: hidden;
   z-index: 1;
   border-radius: 5px;
}
.language-header__add-language--2{
   width: 190px;
   left: -43px;
}
.language-header__add-language--3{
   width: 190px;
   left: -63px;
}
.language-header__add-language--4{
   width: 190px;
   left: -70px;
}

.language-header__add-language a {
   padding: 10px 3px;
   transition: all 0.2s;
   border-radius: 5px;
   text-align: right;
}
.language-header__add-language a:hover {
   background-color: #e4e4e4;
}

.language-header::after {
   content: "";
   align-items: center;
   justify-content: center;
   background-image: url("../img/header/arrow.svg");
   width: 24px;
   height: 24px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 10px 5px;
   margin-left: 12px;
}
[id*="language-"]{
   display: none;
}
[id*="language-"]:target{
   display: flex;
}
/* =====================header-new end===================== */
/* ========================layout========================== */
.categories--margin {
   margin-bottom: 100px;
}
.layout .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1240px;
   justify-content: center;
}
.categories__title{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 70px;
   gap: 20px;
}
.categories__icon {
   width: 6px;
   height: 30px;
   flex-shrink: 0;
   border-radius: 10px;
   background: #8a33fd;
}
.categories__text {
   color: #3c4242;
   font-family: "Core Sans C";
   font-size: 34px;
   font-weight: 600;
   line-height: 0.985;
   letter-spacing: 0.68px;
   padding-top: 7px;
}

/* ======================= */
.layout .container--margin {
   margin: 0 auto;
}
.categories__card-lists {
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   justify-content: flex-start;
}
.item-card {
   display: flex;
   max-width: 270px;
   flex-direction: column;
}

.item-card__photo-link {
   overflow: hidden;
   border-radius: 10px;
   transition: all 0.2s;
}
.item-card__photo-link:hover {
   box-shadow: 0 0 20px black;
}
.item-card__photo-item {
   transition: all 0.2s;
   width: 100%;
}
.item-card__photo-item:hover {
   transform: scale(1.07);
}
.item-card__photo-link:not(:last-child) {
   margin-bottom: 15px;
}
.item-card__title {
   transition: 0.4s;
   border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.item-card__title:hover {
   border-bottom: 2px solid black;
}
.item-card__title:not(:last-child) {
   margin-bottom: 4px;
}
.item-card__body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-grow: 1;
}
.item-card__link {
   height: 20px;
   flex: 0 0 18px;
   background: url("../img/main/maket-1/icon-arrow.svg") center no-repeat;
   transition: all 0.3s;
}
.item-card__link:hover {
   transform: scale(1.3);
}
.item-card__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.item-card__title {
   color: #2a2f2f;
   font-family: "Causten";
   font-size: 17.875px;
   font-weight: 700;
   line-height: 1.56;
   letter-spacing: -0.715px;
}
.item-card__text {
   color: #7f7f7f;
   font-family: "Causten";
   font-size: 13.407px;
   font-weight: 500;
   line-height: 2.08;
   letter-spacing: -0.536px;
}
/* ======================================== */
.wishlist--margin {
   margin-bottom: 60px;
}
.wishlist {
   width: 903px;
}
.wishlist__title {
   color: #3c4242;
   font-family: "Core Sans C";
   font-size: 28px;
   font-weight: 600;
   line-height: 1.19;
   letter-spacing: 0.56px;
   margin-bottom: 20px;
}

.item-wishlist {
   display: flex;
   flex-direction: column;
   padding: 30px 3px;
   border-bottom: 1px solid #edeef2;
   transition: all 0.5s;
   border-radius: 7px;
}
.item-wishlist:hover {
   background-color: rgb(245, 245, 245);
}
.item-wishlist__content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;
   gap: 100px;
}
.left-item-wishlist {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 36px;
   flex-shrink: 0;
}
.left-item-wishlist__wrap-photo {
   max-width: 110px;
   border-radius: 4px;
   transition: all 0.2s;
   overflow: hidden;
   align-self: flex-start;
}
.left-item-wishlist__wrap-photo:hover {
   box-shadow: 0 0 5px black;
}
.left-item-wishlist__photo {
   width: 100%;
   border-radius: 4px;
   transition: all 0.2s;
}
.left-item-wishlist__photo:hover {
   transform: scale(1.05);
}
.left-item-wishlist::before {
   content: "";
   background-image: url("../img/main/maket-2/cross.svg");
   background-repeat: no-repeat;
   display: inline-block;
   background-size: 100%;
   background-position: center;
   width: 22px;
   height: 22px;
}
.left-item-wishlist:hover::before {
   cursor: pointer;
}

.text-wishlist-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 12px;
   color: #3c4242;
   font-family: "Causten";
   font-size: 22px;
   font-weight: 700;
   letter-spacing: 0.44px;
   max-width: 325px;
}
.text-wishlist-content span {
   color: #807d7e;
   font-weight: 500;
   line-height: normal;
}
.right-item-wishlist {
   display: flex;
   flex-direction: row;
   gap: 50px;
   align-items: center;
   justify-content: flex-end;
}
.right-item-wishlist__price {
   color: #807d7e;
   font-family: "Causten";
   font-size: 22px;
   font-weight: 700;
   letter-spacing: 0.44px;
}
.right-item-wishlist__button {
   padding: 14px 28px;
   width: 143px;
   color: #fff;
   text-align: center;
   font-family: "Causten";
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   border-radius: 8px;
   background: #8a33fd;
   transition: all 0.2s;
}
.right-item-wishlist__button:hover {
   background: #5900cd;
   box-shadow: 0 0 10px #5900cd;
   transform: scale(1.01);
}
.text-wishlist-content__title {
   transition: all 0.3s;
   border-bottom: 2px solid transparent;
}
.text-wishlist-content__title:hover {
   border-bottom: 2px solid black;
   transform: scale(1.01);
}
/* ================================================ */

.order--margin {
   margin-bottom: 60px;
}
.order {
   width: 895px;
   font-family: "Causten";
}
.item-order {
   display: flex;
   border-bottom: 1px solid #edeef2;
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 30px 0;
}
.top-block-item {
   border-radius: 8px;
   background-color: #f6f6f6;
   padding: 28px 47px;
   display: flex;
   flex-direction: column;
   gap: 14px;
}
.top-block-item__content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #807d7e;
   font-size: 14px;
   font-weight: 600;
}
.left-element-item,
.right-element-item {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.left-element-item {
   max-width: 40%;
}
/* === */
.top-block-item__title {
   font-size: 20px;
   font-weight: 600;
   color: #3c4242;
   align-self: flex-start;
}
.top-block-item__content span {
   color: #bebcbd;
   font-weight: 400;
}
.right-element-item {
   text-align: right;
}
/* ======== */
.bottom-block {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-weight: 600;
}
.photo-wrap-order {
   width: 96px;
   flex-shrink: 0;
   align-self: flex-start;
}
.photo-wrap-order:hover {
   box-shadow: 0 0 5px black;
   transition: all 0.2s;
   overflow: hidden;
   border-radius: 4px;
}
.photo-order {
   width: 100%;
   border-radius: 4px;
   transition: all 0.2s;
}
.photo-order:hover {
   transform: scale(1.05);
}
.left-item-block {
   display: flex;
   flex-direction: row;
   gap: 25px;
   align-items: center;
   max-width: 50%;
}
.left-item-block__title {
   margin-bottom: 9px;
   color: #3c4242;
   font-size: 16px;
   transition: all 0.3s;
   border-bottom: 1px solid transparent;
}
.left-item-block__title:hover {
   border-bottom: 1px solid black;
   transform: scale(1.03);
}
.left-item-block__text p:not(:last-child) {
   margin-bottom: 5px;
}
.left-item-block__text p {
   color: #3c4242;
   font-size: 14px;
}
.left-item-block__text p:last-child {
   margin-bottom: 5px;
   color: #807d7e;
}
.left-item-block__text span {
   color: #bebcbd;
}
/* ===== */
.bottom-right-button-item {
   padding: 14px 28px;
   border-radius: 8px;
   background: #8a33fd;
   color: white;
   font-size: 18px;
   font-weight: 500;
   transition: all 0.2s;
}
.bottom-right-button-item:hover {
   transform: scale(1.01);
   box-shadow: 0 0 10px #5900cd;
   background: #5900cd;
}
