@import url("fonts.css");
@import url("reset.css");

/* !===================practice================== */
.practice {
   padding-top: 5%;
   margin: 0 auto;
   min-height: 1200px;
   background: url("../img/practice/background_pattern.jpg") fixed;
   margin-bottom: 10%;
}

.practice-blocks {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 3%;
}

[class*="practice-block-"] {
   border: 5px solid rgb(0, 246, 193);
   width: 300px;
   height: 300px;
   display: inline-block;
   vertical-align: top;
   border-radius: 20px;
   text-align: center;
   color: azure;
   font-size: 50px;
   padding-top: 80px;
}
.practice-block-1 {
   background-color: green;
}
.practice-block-2 {
   background-color: transparent;
}
.practice-block-3 {
   background: url("../img/practice/image_block-3.jpeg") no-repeat;
   background-size: cover;
   color: rgb(255, 255, 255);
   text-shadow:
      4px 4px 5px rgb(0, 0, 0),
      -4px -4px 5px rgb(255, 0, 0);
}
.practice-block-4 {
   background: rgb(191, 255, 185);
   background: linear-gradient(66deg, rgba(191, 255, 185, 1) 0%, rgba(25, 15, 15, 1) 100%);
}
.practice-block-5 {
   background: rgb(63, 94, 251);
   background: radial-gradient(circle, rgba(63, 94, 251, 1) 39%, rgba(252, 70, 107, 1) 100%);
}

[class*="blocks-big"] {
   margin: 0 auto;
   text-align: center;
   padding: 0;
   width: 1400px;
   height: 600px;
}
[class*="block-big-"] {
   color: black;
   text-shadow: 2px 2px 3px white;
   width: 600px;
}

.practice-block-big-1 {
   background-image: url("../img/practice/image_block_big-1.jpeg");
   background-size: cover;
}
.practice-block-big-2 {
   background-image: url("../img/practice/image_block_big-1.jpeg");
   background-size: 200px;
}
.practice-block-big-3 {
   background: url("../img/practice/image_block_big-1.jpeg") no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.practice-block-big-4 {
   background: url("../img/practice/image_block_big-1.jpeg") no-repeat;
   background-size: 50%;
   background-position: 20px 35px;
}
/* !============header============ */
header {
   font-family: "The Resto";
   background: rgb(148, 148, 148);
   background: radial-gradient(circle, rgba(148, 148, 148, 1) 0%, rgba(99, 90, 255, 1) 77%);
   font-weight: 400;
   text-align: center;
   font-size: 100px;
   padding: 3% 0;
   color: rgb(0, 0, 0);
   text-shadow: 2px 2px 3px red;
}

/* !============layouts============== */

/* !==========Business Plan========== */
.business-plan {
   max-width: 673px;
   margin: 0 auto 8%;
   font-family: "Poppins";
   font-weight: 400;
   line-height: 1.46;
   font-size: 18px;
   color: #37393f;
   vertical-align: top;
}
.business-plan-header {
   margin-bottom: 20px;
}
.business-plan-content-first-paragraph {
   margin-bottom: 15px;
}
.business-plan-header h2 {
   font-family: "Inter";
   font-weight: 500;
   line-height: normal;
   margin-bottom: 16px;
   background: url("../img/business-plan.png") no-repeat;
   background-position: 0 4px;
   padding-left: 18px;
}
.business-plan-header h3 {
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
}
.business-plan-content {
   color: #7d7d7d;
   font-family: "Inter";
   margin-bottom: 20px;
   max-width: 673px;
}
.business-plan-list {
   color: #37393f;
   font-size: 20px;
   line-height: normal;
   margin-bottom: 43px;
}
.business-plan-list li {
   background: url("../img/business-plan-list.svg") no-repeat;
   padding-left: 35px;
   background-position: 0 1px;
}
.business-plan-list-first {
   margin-bottom: 23px;
}
.business-plan-info {
   margin-bottom: 37px;
   font-size: 0;
}
.business-plan-info-wrapper {
   display: inline-block;
   max-width: 296px;
   padding: 31px 32px 32px;
   border: 1px solid #e3e3e3;
}
.business-plan-info h4 {
   font-size: 20px;
   font-weight: 600;
   line-height: normal;
}
.business-plan-info p {
   color: #7d7d7d;
   font-family: "Inter";
   font-size: 16px;
   line-height: 1.35;
}
.business-plan-info-wrapper.first {
   margin-right: 21px;
}
.experience {
   background: url("../img/experience.svg") no-repeat;
   padding-left: 58px;
}
.awards-winner {
   background: url("../img/awards_winner.svg") no-repeat;
   padding-left: 58px;
}
.business-plan-button {
   background-color: #6b77e5;
   color: #fff;
   text-align: center;
   font-family: "Inter";
   font-weight: 600;
   line-height: normal;
   text-transform: capitalize;
   max-width: 184px;
   padding: 21px 27px 22px;
   display: inline-block;
}

/* !==========Latest Projects========== */

.latest-projects {
   font-family: "Inter";
   margin: 0 auto 10%;
   color: #37393f;
}

.latest-projects-header {
   margin: 0 auto;
   max-width: 852px;
   text-align: center;
   margin-bottom: 47px;
}

.latest-projects h2 {
   display: inline-block;
   font-size: 18px;
   font-weight: 500;
   background: url("../img/business-plan.png") no-repeat;
   background-position: 0 2px;
   padding-left: 18px;
   margin-bottom: 14px;
}
.latest-projects h3 {
   text-align: center;
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 14px;
}
.latest-projects-header p {
   color: #7d7d7d;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
}

.latest-projects-block {
   max-width: 384px;
   display: inline-block;
}
.block-text {
   text-align: left;
}
.block-text h4 {
   font-family: "Poppins";
   font-size: 20px;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 10px;
}
.block-text p {
   color: #7d7d7d;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.46;
   background: url("../img/icon-calendar.svg") no-repeat;
   padding-left: 25px;
   background-position: 0 -0.5px;
}
[class*="row-"] {
   text-align: center;
}
.latest-projects-content-row-1 {
   font-size: 0;
   margin-bottom: 58px;
}
.latest-projects-content-row-2 {
   font-size: 0;
}

[class*="-background"] {
   width: 384px;
   height: 501px;
   font-size: 0;
   margin-bottom: 24px;
}

.content-block-1-background {
   background: url("../img/latest-projects-photo-1.jpg") center / cover no-repeat;
}
.content-block-2-background {
   background: url("../img/latest-projects-photo-2.jpg") center / cover no-repeat;
}
.content-block-3-background {
   background: url("../img/latest-projects-photo-3.jpg") center / cover no-repeat;
}
.content-block-4-background {
   background: url("../img/latest-projects-photo-4.jpg") center / cover no-repeat;
}
.content-block-5-background {
   background: url("../img/latest-projects-photo-5.jpg") center / cover no-repeat;
}
.content-block-6-background {
   background: url("../img/latest-projects-photo-6.jpg") center / cover no-repeat;
}

.first-block-of-row,
.second-block-of-row {
   margin-right: 34px;
}

/* =========тимчасовий бекграунд (у майбутньому це будуть кнопки)========== */
.block-text {
   background: url("../img/latest-projects-button..png") right 9px no-repeat;
}
.block-text-first {
   background: url("../img/latest-projects-button-first.png") right 9px no-repeat;
}

/* !=========Clothing for Women Online in India============== */
.clothing {
   margin: 0 auto;
   color: #807d7e;
   font-family: "Core Sans C";
   font-weight: 600;
   line-height: 1.67;
   letter-spacing: 0.4px;
   max-width: 1240px;
   margin-bottom: 10%;
}
.clothing .content {
   padding-left: 21px;
}
.clothing h2 {
   color: #3c4242;
   font-size: 28px;
   font-weight: 600;
   margin-bottom: 30px;
   background: url("../img/clothing-icon.png") no-repeat;
   padding-left: 21px;
   background-position: 0 6px;
}
.clothing h3 {
   font-size: 20px;
   margin-bottom: 25px;
}
.clothing p {
   font-family: "Causten";
   font-size: 20px;
   font-weight: 400;
   margin-bottom: 20px;
}
.clothing p[class="second"] {
   margin-bottom: 25px;
}
.clothing h3[class="last"] {
   margin-bottom: 0;
}
.clothing .content p span {
   color: #807d7e;
   font-family: "Causten";
   font-weight: 700;
}

/* !=========fashion============== */

.fashion {
   text-align: center;
   color: #fff;
   font-family: "Core Sans C";
   font-weight: 800;
   line-height: 1.47;
   font-size: 0;
   margin-bottom: 10%;
}
.fashion .first-block {
   vertical-align: top;
   width: 614px;
   background: url("../img/fashion-background-1.png") center / cover no-repeat;
   display: inline-block;
   padding-top: 183px;
   background-size: cover;
   padding-bottom: 138.5px;
}
.fashion .second-block {
   width: 626px;
   height: 640px;
   background: url("../img/fashion-background-2.png") center / cover no-repeat;
   display: inline-block;
}

.fashion h2 {
   width: 100%;
   font-size: 34px;
   margin-bottom: 30px;
   letter-spacing: 0.208px;
}
.fashion p {
   font-family: "Causten";
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 1px;
   margin-bottom: 50px;
}
.fashion .content {
   max-width: 466px;
   display: inline-block;
   text-align: left;
}

.fashion .fashion-buton {
   display: inline-block;
   width: 168px;
   border-radius: 8px;
   background: #fff;
   color: #3c4242;
   text-align: center;
   font-family: "Causten";
   font-size: 18px;
   font-weight: 600;
   padding: 12px 0;
}

/* !========footer========= */

footer {
   background: rgb(18, 32, 66);
   background: radial-gradient(circle, rgba(18, 32, 66, 1) 0%, rgba(74, 72, 106, 1) 90%);
   color: white;
   font-size: 16px;
   font-weight: 400;
   font-family: "DM Sans";
}

/* !column-1 */
[class*="column-"] {
   display: inline-block;
   vertical-align: top;
}
.column-1 {
   max-width: 320px;
   margin-right: 168px;
}
.column-2 {
   max-width: 55px;
   margin-right: 124px;
}
.column-3 {
   max-width: 76px;
   margin-right: 120px;
}
.column-4 {
   max-width: 277px;
}

.title {
   margin-bottom: 8px;
   width: 127px;
   height: 21px;
}
.column-1 p {
   font-family: "Ubuntu";
   line-height: 1.8;
   margin-bottom: 31px;
}
.column-1 .icons {
   max-width: 176px;
   height: 32px;
}

.block-top {
   border-bottom: 1px solid rgba(150, 150, 150, 0.2);
   padding: 65px 0 60px 150px;
}

/* !column-2-3-4 */
footer h2,
footer p {
   margin-bottom: 24px;
}
.column-4 h2 {
   margin-bottom: 19px;
}
/* !footer-block2 (bottom) */

.footer-bottom-links1 {
   padding-left: 150px;
   margin-right: 600px;
}
.block-bottom {
   height: 80px;
   padding-top: 34px;
}
.block-bottom div {
   display: inline-block;
   font-size: 14px;
}
.footer-bottom-links2 span {
   margin-right: 53px;
}
.footer-bottom-links2 .last-span {
   margin-right: 0;
}
