@import "_start.scss";
// =========================================== //
// ! header
$headerTextColor: #807d7e;
$headerHoverTextColor: #3c4242;
$mainFont: "Core Sans C";
$caustenFont: "Causten";
$headerButtonColor: #f6f6f6;
$headerBg: #fff;
// ! footer
$bgFooter: #3c4242;
$bgColorText: #f6f6f6;

// =========================================== //
[class*="__container"] {
   max-width: 1270px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: $mainFont;
}

// =========================================== //

.header {
   // .header__container
   background-color: $headerBg;
   &__container {
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      padding: 31px 15px 32px;
      gap: 20px;
      @media screen and (min-width: 490px) and (max-width: 900px) {
         padding: 31px 40px 32px;
      }
      @media screen and (max-width: 490px) {
         gap: 5px;
      }
      @media (max-width: 340px) {
         padding: 31px 5px 32px;
      }
   }

   // ! .header__logo

   &__logo {
      width: 91px;
      height: 45px;
      flex-shrink: 0;
      position: relative;
      z-index: 5;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 91 / 45;
      }
   }
   &__form-search {
      &--big {
         @media (max-width: 410px) {
            display: none;
         }
      }
      &--mob {
         display: none;
         @media (max-width: 410px) {
            display: flex;
         }
      }
   }
   // .header__navigation

   &__navigation {
   }
   // ! .header__search
   &__search {
      max-width: 267px;
      display: flex;
      padding: 12px 20px;
      align-items: center;
      gap: 12px;
      border-radius: 8px;
      background-color: $headerButtonColor;
      padding: 12px 20px;
      gap: 12px;
      position: relative;
      z-index: 5;
      @media (max-width: 900px) {
         padding: 15px 10px;
      }
      & input {
         width: 100%;
         height: 19px;
         resize: none;
         background-color: $headerButtonColor;
         font-size: 16px;
         padding-left: 4px;
         transition: all 0.2s;
         @media screen and (min-width: 650px) and (max-width: 900px) {
            height: 40px;
            font-size: 24px;
         }
         &:focus {
            outline: 2px solid $headerTextColor;
            border-radius: 5px;
            transform: scale(1.05);
         }
      }
      & button {
         background-color: $headerButtonColor;
         width: 20px;
         height: 20px;
         cursor: pointer;
         flex-shrink: 0;
         transition: all 0.3s;
         @media screen and (min-width: 650px) and (max-width: 900px) {
            width: 40px;
            height: 40px;
         }
         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.2);
            }
         }
      }
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // ! .header__buttons

   &__buttons {
      display: flex;
      justify-content: space-between;
      column-gap: 24px;
      row-gap: 10px;
      justify-content: center;
      position: relative;
      z-index: 5;
      justify-content: center;
      align-items: center;
      @media (max-width: 1100px) {
         column-gap: 10px;
      }
      @media screen and (min-width: 650px) and (max-width: 900px) {
         flex-wrap: nowrap;
         gap: 30px;
      }
   }

   // .header__button

   &__button {
      background-color: $headerButtonColor;
      width: 44px;
      height: 44px;
      padding: 12px;
      border-radius: 8px;
      transition: all 0.3s;

      @media screen and (min-width: 650px) and (max-width: 900px) {
         width: 64px;
         height: 64px;
      }

      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.1);
            outline: 2px solid $headerTextColor;
         }
      }
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .navigation {
      display: flex;
      @media (max-width: 900px) {
         display: none;
      }

      // .navigation__body
      &__body {
         display: flex;
         flex-direction: row;
         column-gap: 40px;
         row-gap: 2px;
         flex: 1 1 483px;
         justify-content: center;
         @media (max-width: 960px) {
            column-gap: 20px;
         }
      }

      // .navigation__item

      &__item {
         color: $headerTextColor;
         font-family: $caustenFont;
         font-size: 22px;
         font-weight: 500;
         position: relative;
         flex-shrink: 1;
         transition: all 0.2s;
         @media (max-width: 900px) {
            font-size: 70px;
            &::after {
               display: none;
            }
         }
         &::after {
            content: "";
            transition: all 0.2s;
            width: 0;
            height: 2px;
            background-color: $headerHoverTextColor;
            position: absolute;
            bottom: -500%;
            left: 50%;
            opacity: 0;
         }
         @media (any-hover: hover) {
            &:hover {
               color: $headerHoverTextColor;
               transform: scale(1.2);
               &::after {
                  bottom: -3px;
                  width: 100%;
                  opacity: 1;
                  left: 0;
               }
            }
         }
      }
   }
}
// =========================================== //

.footer {
   background-color: $bgFooter;
   font-family: $caustenFont;
   color: $bgColorText;
   font-size: 18px;
   line-height: 2.17;

   // .footer__container

   &__container {
   }

   // .footer__main-section

   &__main-section {
   }

   // .footer__title

   &__title {
      font-size: 28.6px;
      font-weight: 700;
   }

   // .footer__social-section

   &__social-section {
   }

   // .footer__categories

   &__categories {
   }

   // .footer__icon

   &__icon {
      // .footer__icon--categories

      &--categories {
      }
   }

   // .footer__info

   &__info {
   }
}
.main-section-footer {
   // .main-section-footer__column

   &__column {
   }

   // .main-section-footer__item

   &__item {
   }
}
.social-section-footer {
   // .social-section-footer__column

   &__column {
   }

   // .social-section-footer__button

   &__button {
   }

   // .social-section-footer__icon

   &__icon {
   }

   // .social-section-footer__apps

   &__apps {
   }

   // .social-section-footer__app-link

   &__app-link {
   }
}
.link-app {
   // .link-app__icon

   &__icon {
   }

   // .link-app__label

   &__label {
   }

   // .link-app__title

   &__title {
   }
}
