// !blog

.blog {
   // .blog--mg

   &--mg {
      margin-bottom: toRem(150);
      @include adaptiveValue("margin-bottom", 150, 50, 0, 991, 320);
   }

   // .blog__container

   &__container {
      color: rgb(55, 57, 63);
   }

   // .blog__header

   &__header {
      display: flex;
      gap: toRem(10);
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: toRem(40);
      @media (max-width: toRem(768)){
         flex-direction: column;
      }
   }

   // .blog__titles

   &__titles {
      @media (max-width: toRem(768)){
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   // .blog__label

   &__label {
      font-weight: 500;
      line-height: 1.22; /* 22/18 */
      margin-bottom: toRem(16);
      @include icon-square-green;
      @include adaptiveValue("font-size", 18, 14, 1, 1024, 768.5);
      @include adaptiveValue("font-size", 18, 14, 0, 768, 320);
   }

   // .blog__title

   &__title {
      font-family: "Poppins";
      font-size: toRem(40);
      font-weight: 700;
      line-height: 1.5; /* 60/40 */
      @include adaptiveValue("font-size", 40, 30, 1, 1024, 768.5);
      @include adaptiveValue("font-size", 40, 30, 0, 768, 320);
   }

   // .blog__right-part-header

   &__right-part-header {
      @media (max-width: toRem(768)){
         width: 70%;
      }
      @media (max-width: toRem(425)){
         width: 100%;
      }
   }

   // .blog__content-body

   &__content-body {
      display: flex;
      gap: toRem(36);
      flex-wrap: wrap;
      @media (max-width: toRem(768)) {
         flex-direction: column;
         @include adaptiveValue("gap", 70, 20, 0, 768, 320);
      }
   }
}

.item-blog {
   // @media (min-width: toRem(768)) {
   flex: 0 1 47.55%;
   // }

   // .item-blog__main-part

   &__main-part {
      margin-bottom: toRem(19);
   }

   // .item-blog__photo

   &__photo {
      max-width: toRem(592);
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 592 / 393;
      }
   }

   // .item-blog__butons-block

   &__butons-block {
      display: flex;
      gap: toRem(1);
      background-color: #37393f;
   }

   // .item-blog__button

   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      min-height: toRem(65);
      cursor: pointer;
      gap: toRem(5);
      background-color: rgb(64 221 182);
      @media (max-width: toRem(1024)) {
         @include adaptiveValue("font-size", 18, 12, 1, 1024, 768.5);
         @include adaptiveValue("min-height", 65, 40, 1, 1024, 768.5);
      }
      @media (max-width: toRem(768)) {
         @include adaptiveValue("font-size", 18, 12, 0, 768, 320);
         @include adaptiveValue("min-height", 65, 40, 0, 768, 320);
      }

      @media (any-hover: hover) {
         transition: all 0.2s;
         &:hover {
            background-color: rgb(107, 119, 229);
            color: rgb(255, 255, 255);
         }
      }

      // .item-blog__button--target

      &--target {
         background-color: rgb(107, 119, 229);
         color: rgb(255, 255, 255);
         font-weight: 600;
         line-height: 1.22; /* 22/18 */
         text-transform: capitalize;
      }
   }

   // .item-blog__text-content

   &__text-content {
      max-width: toRem(567);
   }

   // .item-blog__title

   &__title {
      font-family: "Poppins";
      font-size: toRem(30);
      font-weight: 600;
      line-height: 1.27;
      @include adaptiveValue("font-size", 30, 22, 1, 1024, 768.5);
   }

   // .item-blog__paragrafs

   &__paragrafs {
      color: rgb(125, 125, 125);
      line-height: 1.46;
      display: flex;
      flex-direction: column;
      gap: toRem(7);
      overflow: auto;
      max-height: toRem(300);
      margin-bottom: toRem(26);
      @include adaptiveValue("font-size", 18, 14, 1, 1024, 768.5);
   }
}
