//! brands

.brands {
   &--mg {
      margin-bottom: toRem(82);
   }
   // .brands__container

   &__container {
      padding: 0 toRem(39);
   }

   // .brands__body

   &__body {
      display: flex;
      // gap: toRem(115);
      @include adaptiveValue("column-gap", 115, 30);
      row-gap: toRem(20);
      flex-wrap: wrap;
      justify-content: center;
   }

   // .brands__item

   &__item {
      // flex-basis: toRem(170);
      max-width: toRem(170);
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}
