// ! project

.project {
   // .project--mg

   // max-width: toRem(2300);

   &--mg {
      margin-bottom: toRem(150);
      margin: 0 auto toRem(150) auto;
      @include adaptiveValue("margin-bottom", 150, 50, 0, 991, 320);
   }

   // .project__container

   &__container {
      margin-bottom: toRem(40);
   }

   // .project__header

   &__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width: toRem(425)) {
         flex-direction: column;
         gap: toRem(20);
      }
   }

   // .project__text

   &__text {
      flex: 0 0 50%;
   }

   // .project__label

   &__label {
      @include icon-square-green;
      color: rgb(55, 57, 63);
      font-weight: 500;
      line-height: 1.22; /* 22/18 */
      @include adaptiveValue("font-size", 18, 14, 0, 1920, 320);
      @include adaptiveValue("margin-bottom", 16, 10, 0, 768, 320);
   }

   // .project__title

   &__title {
      color: rgb(55, 57, 63);
      font-family: "Poppins";
      // font-size: toRem(40);
      @include adaptiveValue("font-size", 40, 20, 0, 1920, 320);
      font-weight: 700;
      line-height: 1.5; /* 60/40 */
   }

   // .project__main-content

   &__main-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 0 toRem(15);
      @include adaptiveValue("gap", 39, 10, 0, 1920, 768);
      justify-items: center;
      @media (max-width: toRem(768)) {
         grid-template-columns: repeat(2, 1fr);
         @include adaptiveValue("gap", 20, 10, 0, 768, 320);
      }
   }

   // .project__item

   &__item {
      max-width: toRem(434);
      transition: all 0.2s;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         aspect-ratio: 434 / 501;
      }
      @include hover {
         box-shadow: toRem(5) toRem(5) toRem(5) #000;
      }
   }

}
