//! services

.services {
   &--mg {
      margin-bottom: toRem(130);
      @include adaptiveValue("margin-bottom", 130, 30, 0, 991, 320);
   }

   // .services__container

   &__container {
   }

   // .services__label

   &__label {
      color: rgb(55, 57, 63);
      font-weight: 500;
      line-height: 1.22; /* 22/18 */
      margin-bottom: toRem(16);
      max-width: toRem(495);
      text-align: left;
      @include adaptiveValue("font-size", 18, 16);
      @include icon-square-green;
      @media (max-width: toRem(425)) {
         width: 100%;
      }
   }

   // .services__title

   &__title {
      color: rgb(55, 57, 63);
      font-family: "Poppins";
      font-size: toRem(40);
      font-weight: 700;
      line-height: 1.5; /* 60/40 */
      margin-bottom: toRem(40);
      max-width: toRem(495);
      text-align: center;
      @include adaptiveValue("font-size", 40, 26, 0, 1920, 320);
      @media (max-width: toRem(425)) {
         text-align: left;
         max-width: 100%;
      }
   }

   // .services__body

   &__body {
      display: flex;
      flex-wrap: wrap;
      row-gap: toRem(27);
      column-gap: toRem(32);
      justify-content: center;
   }
}

.item-services {
   &:not(:last-child) {
      background-color: #f4f4f4;
   }
   padding: toRem(30);
   @include adaptiveValue("padding-left", 30, 10, 0, 425, 320);
   @include adaptiveValue("padding-right", 30, 10, 0, 425, 320);
   @include adaptiveValue("padding-top", 30, 15, 0, 425, 320);
   @include adaptiveValue("padding-bottom", 30, 15, 0, 425, 320);
   flex-basis: toRem(385);
   flex-shrink: 1;
   flex-grow: 1;

   // .item-services__body
   &__body {
      display: flex;
      justify-content: space-between;
      column-gap: toRem(20);
   }

   // .item-services__content

   &__content {
      @media (min-width: toRem(1248)) {
         flex-basis: 60%;
      }
   }

   // .item-services__title

   &__title {
      color: rgb(55, 57, 63);
      font-family: "Poppins";
      // font-size: toRem(25);
      @include adaptiveValue("font-size", 25, 22);
      font-weight: 600;
      // margin-bottom: toRem(27);
      @include adaptiveValue("margin-bottom", 27, 12);
      line-height: 1.52; /* 38/25 */
   }


   // .item-services__icon

   &__icon {
      align-self: flex-start;
      flex-basis: toRem(72);
      flex-shrink: 0;
      & img {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         aspect-ratio: 1 / 1;
         object-fit: cover;
      }
   }
}
