//! whitecollar

.whitecollar {
   position: relative;
   // .whitecollar__container
   display: flex;
   &::before {
      //фон лівої частини
      content: "";
      height: 100%;
      // width: 40%;
      @include adaptiveValue("width", 1485, 475, 0, 3250, 1215);
      z-index: -1;
      background-color: #f4f4f4;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: toRem(1250)) {
         display: none;
      }
   }
   &--mg {
      margin-bottom: toRem(100);
      @include adaptiveValue("margin-bottom", 100, 30, 0, 991, 320);
   }

   &__container {
      display: flex;
      flex-direction: row;
      gap: toRem(69);
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: toRem(991)) {
         flex-direction: column;
      }
   }

   // .whitecollar__left-part (mod)

   &__left-part {
   }

   // .whitecollar__right-part (mod)

   &__right-part {
   }
}
.left-part-whitecollar {
   display: flex;
   padding-top: toRem(151);
   @include adaptiveValue("padding-top", 151, 80, 0, 991, 320);
   // padding-bottom: toRem(180);
   // padding-bottom: toRem(466);
   padding-right: toRem(52);
   flex: 0 1 auto;
   height: 100%;
   @media (max-width: toRem(991)) {
      padding-right: toRem(0);
      padding-bottom: toRem(0);
   }

   // .left-part-whitecollar__photo
   &__photo {
      flex: 0 0 toRem(446);
      max-width: toRem(408);
      margin-bottom: toRem(19);
      @media (max-width: toRem(991)) {
         flex: 0 0 toRem(300);
         max-width: 95%;
         margin-bottom: toRem(40);
      }
      & img {
         max-width: 100%;
         max-height: 100%;
         object-fit: cover;
         aspect-ratio: 408 / 446;
      }
   }

   // .left-part-whitecollar__wrapper

   &__wrapper {
      max-width: toRem(424);
      @media (max-width: toRem(991)) {
         max-width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   // .left-part-whitecollar__content

   &__content {
      & p {
         color: #7d7d7d;
         line-height: 1.46;
         margin-bottom: toRem(13);
         @media (max-width: toRem(991)) {
            margin-bottom: toRem(30);
            font-size: toRem(20);
         }
      }
   }

   // .left-part-whitecollar__title

   &__title {
      color: #37393f;
      font-family: "Poppins";
      // font-size: toRem(30);
      @include adaptiveValue("font-size", 30, 24, 0, 991, 320);
      font-weight: 600;
      line-height: 1.21;
      margin-bottom: toRem(13);
   }

   // .left-part-whitecollar__link

   &__link {
      color: #37393f;
      text-align: center;
      font-weight: 600;
      text-transform: capitalize;
      border-bottom: 2px solid #37393f;
      line-height: 1.3;
      transition: all 0.3s;
      @media (max-width: toRem(991)) {
         font-size: toRem(30);
         @include adaptiveValue("font-size", 30, 26, 0, 991, 320);
      }
      @include hover {
         border-bottom: 2px solid #6b77e5;
         transform: scale(1.05);
      }
   }
}

.right-part-whitecollar {
   flex: 0 1 toRem(673);
   color: #7d7d7d;
   line-height: 1.46;
   padding-top: toRem(151);
   padding-bottom: toRem(151);
   @include adaptiveValue("padding-bottom", 151, 30, 0, 991, 320);
   @media (max-width: toRem(991)) {
      padding-top: toRem(0);
      flex: 0 1 auto;
   }
   // .right-part-whitecollar__info

   &__info {
      display: flex;
      flex-direction: column;
      gap: toRem(15);
      margin-bottom: toRem(20);
      @media (max-width: toRem(991)) {
         margin-bottom: toRem(40);
      }
      @include adaptiveValue("font-size", 18, 16, 0, 991, 320);
   }

   // .right-part-whitecollar__label-top

   &__label-top {
      color: #37393f;
      font-weight: 500;
      margin-bottom: toRem(16);
      @include icon-square-green;
      @include adaptiveValue("font-size", 18, 16, 0, 991, 320);
   }
   // .right-part-whitecollar__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   // .right-part-whitecollar__title

   &__title {
      color: #37393f;
      font-family: "Poppins";
      font-size: toRem(40);
      font-weight: 700;
      line-height: 1.21;
      margin-bottom: toRem(20);
      @include adaptiveValue("font-size", 40, 26, 0, 991, 320);
   }

   // .right-part-whitecollar__labels

   &__labels {
      color: #37393f;
      font-family: "Poppins";
      font-size: toRem(20);
      margin-bottom: toRem(43);
      & li {
         @include iconLi;
         &:not(:last-child) {
            margin-bottom: toRem(23);
         }
      }
   }

   // .right-part-whitecollar__awards (mod)

   &__awards {
   }
}
.awards-whitecollar {
   display: flex;
   gap: toRem(21);
   margin-bottom: toRem(37);
   @media (max-width: toRem(1120)) {
      flex-direction: column;
   }

   // .awards-whitecollar__item

   &__item {
      border: 1px solid #e3e3e3;
      display: flex;
      padding: toRem(32);
      @media (max-width: toRem(425)) {
         padding: toRem(10);
      }
   }

   // .awards-whitecollar__boby-item

   &__boby-item {
      display: flex;
      gap: toRem(19);
   }

   // .awards-whitecollar__icon

   &__icon {
   }

   // .awards-whitecollar__content-item

   &__content-item {
      &:not(:last-child) {
         margin-bottom: toRem(3);
      }
   }

   // .awards-whitecollar__title-item

   &__title-item {
      color: #37393f;
      font-family: "Poppins";
      font-size: toRem(20);
      font-weight: 600;
   }

   // .awards-whitecollar__text-item

   &__text-item {
      color: #7d7d7d;
      font-size: 16px;
      line-height: 1.35;
   }
}
