//! ==================import================== //
@use "sass:math";
@import "_fonts.scss";
@import "_reset.scss";
@import "_mixin.scss";
@import "_function.scss";
//! =================variables================= //
html {
   // test
   // font-size: 10px;
}
//! ===================begin=================== //
.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
//! ==================default================== //
[class*="__container"] {
   max-width: toRem($containerWidth);
   margin: 0 auto;
   padding: 0 toRem(15);
   display: flex;
   flex-direction: column;
   align-items: center;
}
body {
   font-family: "Inter";
   font-size: toRem(18);
   color: #fff;
   transition: all 1s;
}
//! ====================page==================== //
@import "_common.scss";
@import "_header.scss";
@import "_burger-menu.scss";
@import "_hero.scss";


@import "_footer";
